body{
    /*background: green;*/
    background-image: url("green.jpeg");
}

h1{
    color: #b3b300;
}

table{
    color: #b3b300;
}

p{
    color: #b3b300;
}

h3{
    color: #b3b300;
}

h4{
    color: #b3b300;
}

table, th, td{
    border: 5px solid black;
}

