<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h1>Make an appointment today!</h1>
<h3>Address:</h3>
<p></p>
<br>
<h3>Contacts number:</h3>
<p>(972)834-8224</p>
<br>
<h3>Contact email:</h3>
<p></p>

<h1></h1>
<table>
    <tr>
        <th>Hours</th>
        <th>sunday</th>
        <th>monday</th>
        <th>tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr>
        <td>AM</td>
        <td>closed</td>
        <td>9-12</td>
        <td>9-12</td>
        <td>9-12</td>
        <td>9-12</td>
        <td>9-12</td>
        <td>9-12</td>
    </tr>
    <tr>
        <td>PM</td>
        <td>closed</td>
        <td>12-5</td>
        <td>12-5</td>
        <td>12-5</td>
        <td>12-5</td>
        <td>12-5</td>
        <td>closed</td>
    </tr>
</table>

<h1>Call us at any time to schedule an appointment!</h1>
<div th:replace="partials/scripts :: assets"></div>
</body>
</html>