<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<h1>Make an appointment today!</h1>
<br>
<h3>Address:</h3>
<p>2340 E Trinity Mills Rd Ste 351</p>
<br>
<h4>Call us to ask any questions or to schedule an appointment with us!</h4>
<h3>Contacts number:</h3>
<p>Cell: (972)834-8224</p>
<p>Office: (972)418-2914</p>
<br>
<h3>Contact email:</h3>
<p>solartax16@gmail.com</p>

<h1>Schedule:</h1>

<table>
    <tr>
        <th>Hours</th>
        <th>AM</th>
        <th>PM</th>
    </tr>
    <tr>
        <td>Sunday</td>
        <td>closed</td>
        <td>closed</td>
    </tr>
    <tr>
        <td>Monday</td>
        <td>9-12</td>
        <td>12-5</td>
    </tr><tr>
        <td>Tuesday</td>
        <td>9-12</td>
        <td>12-5</td>
    </tr><tr>
        <td>Wednesday</td>
        <td>9-12</td>
        <td>12-5</td>
    </tr><tr>
        <td>Thursday</td>
        <td>9-12</td>
        <td>12-5</td>
    </tr>
    <tr>
        <td>Friday</td>
        <td>9-12</td>
        <td>12-5</td>
    </tr>
    <tr>
        <td>Saturday</td>
        <td>9-12</td>
        <td>Closed</td>
    </tr>
</table>
<br>
<h3>Call us at any time to schedule an appointment!</h3>
<div th:replace="partials/scripts :: assets"></div>
</body>
</html>